{% extends "_base.html" %}
{% block other_css_src %}
    {{ super() }}
	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
{% endblock other_css_src %}

{% block body_content %}
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>

	<div id="main-wrapper">
		{% include "dashboard/paths/_header.html" %}
		{% include "dashboard/paths/_sidebar.html" %}

		<section class="content-body">
			<div class="container-fluid" id="init-vue-app">
				{% block body_content_dashboard %}

				{% endblock body_content_dashboard %}
			</div>
		</section>

		<div class="footer">
            <div class="copyright">
                <p>&copy; {{ moment().format('YYYY') }} &smid; {{ config.SITE_NAME }}</p>
            </div>
        </div>
	</div>

	{{ moment.include_moment() }}
    {{ moment.locale(auto_detect=True) }}
{% endblock body_content %}

{% block other_js_src %}
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/global.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/deznav-init.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/svganimation/vivus.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/svganimation/svg.animation.js') }}"></script>
{% endblock other_js_src %}
