[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-login = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
flask-cors = "*"
httpx = "*"
flask-restx = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
flask = {extras = ["async"], version = "*"}
flask-wtf = "*"
email-validator = "*"

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
