{% extends "_base.html" %}

{% block body_content %}
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">{{ page_title }}</h4>

                                    {% include "partials/message.html" %}

                                    <form action="." method="POST">

                                        {{ form.hidden_tag() }}
                                        {{ form.csrf_token }}

                                    	<div class="form-group">
										    {{ form.addr_email.label(class="mb-1 font-weight-bold") }}
										    {{ form.addr_email(class="form-control", placeholder='Ex: hello@example.com') }}
										</div>

                                    	{% if form.addr_email.errors %}
							                <div class="invalid-feedback">
							                    {% for error in form.addr_email.errors %}
							                        <span>{{ error }}</span>
							                    {% endfor %}
							                </div>
                                    	{% endif %}

                                    	<div class="form-group">
										    {{ form.password.label(class="mb-1 font-weight-bold") }}
										    {{ form.password(class="form-control", placeholder='****************') }}
										</div>

                                    	{% if form.password.errors %}
                                    		<div class="invalid-feedback">
							                    {% for error in form.password.errors %}
							                        <span>{{ error }}</span>
							                    {% endfor %}
							                </div>
                                    	{% endif %}

                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                               <div class="custom-control custom-checkbox ml-1">
										            {{ form.remember_me(class="custom-control-input") }}
										            {{ form.remember_me.label(class="custom-control-label") }}
												</div>
                                            </div>
                                            <div class="form-group">
                                                <a href="#!">Mot de passe oublié ?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                        	{{ form.submit(class="btn btn-primary btn-block") }}
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Vous n'avez pas de compte ? <a class="text-primary" href="{{ url_for('auth_bp.register') }}"><u>S'inscrire</u></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_content %}
