<div class="col-sm-4 col-xl-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col mt-0">
                    <h5 class="card-title">Likes</h5>
                </div>

                <div class="col-auto">
                    <div class="stat text-primary">
                        <i class="align-middle" data-feather="heart"></i>
                    </div>
                </div>
            </div>
            <h1 class="mt-1 mb-3">{{ stat[0] }}</h1>
        </div>
    </div>
</div>

<div class="col-sm-4 col-xl-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col mt-0">
                    <h5 class="card-title">Commentaires</h5>
                </div>

                <div class="col-auto">
                    <div class="stat text-primary">
                        <i class="align-middle" data-feather="repeat"></i>
                    </div>
                </div>
            </div>
            <h1 class="mt-1 mb-3">{{ stat[1] }}</h1>
        </div>
    </div>
</div>

<div class="col-sm-4 col-xl-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col mt-0">
                    <h5 class="card-title">Partages</h5>
                </div>

                <div class="col-auto">
                    <div class="stat text-primary">
                        <i class="align-middle" data-feather="share-2"></i>
                    </div>
                </div>
            </div>
            <h1 class="mt-1 mb-3">{{ stat[2] }}</h1>
        </div>
    </div>
</div>