<div class="card flex-fill">
	<div class="card-body">
		<h3>Facebook data</h3>
		<div class="d-flex mb-3">
			<div class="flex-grow-1">
				<strong><i class="align-middle me-1 mb-1" data-feather="heart"></i> Likes</strong>
				<h2 class="text-muted">{{ stat_fb[0] }}</h2>
			</div>
		</div>

		<div class="d-flex mb-3">
			<div class="flex-grow-1">
				<strong><i class="align-middle me-1 mb-1" data-feather="repeat"></i> Commentaires</strong>
				<h2 class="text-muted">{{ stat_fb[1] }}</h2>
			</div>
		</div>

		<div class="d-flex mb-3">
			<div class="flex-grow-1">
				<strong><i class="align-middle me-1 mb-1" data-feather="share-2"></i> Partages</strong>
				<h2 class="text-muted">{{ stat_fb[2] }}</h2>
			</div>
		</div>
	</div>
</div>

<div class="card flex-fill">
	<div class="card-body">
		<h3>Instagram data</h3>

		<div class="d-flex mb-3">
			<div class="flex-grow-1">
				<strong><i class="align-middle me-1 mb-1" data-feather="heart"></i> Likes</strong>
				<h2 class="text-muted">{{ stat_insta[0] }}</h2>
			</div>
		</div>

		<div class="d-flex mb-3">
			<div class="flex-grow-1">
				<strong><i class="align-middle me-1 mb-1" data-feather="repeat"></i> Commentaires</strong>
				<h2 class="text-muted">{{ stat_insta[1] }}</h2>
			</div>
		</div>

		<div class="d-flex mb-3">
			<div class="flex-grow-1">
				<strong><i class="align-middle me-1 mb-1" data-feather="share-2"></i> Partages</strong>
				<h2 class="text-muted">{{ stat_insta[2] }}</h2>
			</div>
		</div>
	</div>
</div>
