<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class='sidebar-brand' href='{{ url_for('dashboard_bp.dashboard') }}'>
            <span class="sidebar-brand-text align-middle">
                {{ config.SITE_NAME }}
            </span>
            <svg class="sidebar-brand-icon align-middle" width="32px" height="32px" viewBox="0 0 24 24" fill="none" stroke="#FFFFFF" stroke-width="1.5"
                stroke-linecap="square" stroke-linejoin="miter" color="#FFFFFF" style="margin-left: -3px">
                <path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
                <path d="M20 12L12 16L4 12"></path>
                <path d="M20 16L12 20L4 16"></path>
            </svg>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-item active">
                <a href="{{ url_for('dashboard_bp.dashboard') }}" class="sidebar-link">
                    <i class="align-middle" data-feather="sliders"></i>
                    <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-item">
                <div class="sidebar-link">
                    <i class="align-middle" data-feather="layout"></i>
                    <span class="align-middle">Projets</span>
                    <a href="{{ url_for('project_bp.create_project') }}">
                        <span class="sidebar-badge badge bg-primary">+</span>
                    </a>
                </div>
            </li>

            <li class="sidebar-item">
                <a data-bs-target="#tags" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="align-middle" data-feather="check-circle"></i>
                    <span class="align-middle">Tag</span>
                </a>
                <ul id="tags" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
                    {% for project in user.user_project %}
                        <li class="sidebar-item">
                            <a class='sidebar-link' href='{{ url_for('dashboard_bp.detail_project', public_id=project.public_id) }}'>{{ project.name | capitalize() }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</nav>